:root {
    --primary-color: goldenrod;
/*    --secundary-color: rgb(255, 232, 175);*/
    --header-size: 4rem;
    --font: 1.8rem;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(15, 18, 22);
    overflow: auto;
}

.header-conteiner {
    margin: 0;
    padding: .5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-conteiner-h2 {
    font-size: 7rem;
    color: var(--primary-color);
}

nav {
    padding: .5rem;
}

.header-conteiner-nav {
    padding: .5rem;
    font-size: var(--font);
    display: inline;
    position: relative;
    width: 100%;
}


.header-conteinter-nav-item  {
    padding: 1rem;
    display: inline-block;
}

main {
    font-size: var(--font);
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none
}

.about-conteiner {
    padding: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-conteiner-h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    padding: 1rem;
}

.about-conteiner-text {
    padding: 2rem;
    color: var(--secundary-color);
}

.pages-conteiner-repos {
    padding: 1.5rem;
}

.pages-conteiner-repos-h3 {
    color: var(--primary-color);
    padding: .5rem;
}

.pages-conteiner-repos-text {
    padding: .5rem;
    color: var(--secundary-color);
}

.pages-conteiner-repos-ul {
    display: inline;
    padding: .5rem;
}

.pages-conteiner-repos-ul-item {
    display:inline-block;
    padding: 1rem;
}

.pages-conteiner {
    padding: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pages-conteiner-h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
}

.pages-conteiner-text {
    color: var(--secundary-color);
    padding: .5rem;
}

.pages-conteiner-ul {
    display: inline;
    padding: .5rem;
}

.pages-conteiner-ul-item {
    display:inline-block;
    padding: 1rem;
}

.production-conteiner {
    padding: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.production-conteiner-audiovisual {

}

.production-conteiner-audiovisual-h3 {
    color: var(--primary-color);
    font-size: 2.5rem;
}

.production-conteiner-audiovisual-text {
    color: var(--secundary-color);
    padding: .5rem;
}

.production-conteiner-audiovisual-graphic {
}

.redes-conteiner {
    padding: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.redes-conteiner-h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
}

.redes-conteiner-text {
    color: var(--secundary-color);
    padding: .5rem;
}

.redes-conteiner-ul {
    display: inline-block;
    padding: .5rem;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.fa {
    padding: 40px;
    font-size: 1vw;
    max-width: 40px;
    max-height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 1vw;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.footer-conteiner {
    padding: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
