:root {
    --primary-color: rgb(218, 165, 31);
    --secundary-color: rgb(255, 255, 255);
    --header-size: 4rem;
    --font: 1.8rem;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    width: 380px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(32, 33, 36);
    background: linear-gradient(0deg, rgb(218, 165, 31, 0.2) 0%, rgba(218,165,31,0.2) 3%, rgba(34,34,37,1) 89%, rgba(33,33,36,1) 100%);
    margin-left: 30px;
}

.header-conteiner {
    margin: 0;
    padding: .5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-conteiner-h2 {
    font-size: 4rem;
    color: var(--primary-color);
}

nav {
    padding: .5rem;
}

.header-conteiner-nav {
    padding: .5rem;
    margin-right: auto;
    margin-left: auto;
    font-size: var(--font);
    display: inline;
    position: relative;
    width: 100%;
}


.header-conteinter-nav-item  {
    padding: 1rem;
    display: inline-block;
}

.header-conteinter-nav-item:hover {
    padding: .3rem 1rem .3rem 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2.5rem;
}

main {
    font-size: var(--font);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: rgb(80, 173, 248);
}

ul {
    list-style-type: none
}


.about-conteiner {
    padding: 3rem;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-conteiner-h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    padding: 1rem;
}

.about-conteiner-text {
    padding: 2rem;
    color: var(--secundary-color);
}


.carousel {
    overflow: scroll;
    margin: 1rem;
    padding: 3rem;
    position: relative;
}

.carousel__container {
    white-space: nowrap;
    padding-bottom: 1rem;
    margin-right: none;
    padding-right: none; 
    width: 50rem;
}

.carousel__item {
    background-color: gainsboro;
    width: 18rem;
    height: 27rem;
    border: 1px solid gainsboro;
    border-radius: 20px;
    margin-right: 10px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
}

.carousel__item:hover ~ .carousel__item {
    transform: translate3d(5rem, 0, 0);
}

.carousel__container:hover .carousel__item {
    opacity: 0.3;
}

.carousel__container:hover .carousel__item:hover {
    transform: scale(1.2);
    opacity: 1;
}

.carousel-item__img {
    width: 18rem;
    height: 35rem;
    object-fit: cover;
}

.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pages-conteiner-repos {
    padding: 1.5rem;
    width: 350px;
}

.pages-conteiner-repos-h3 {
    color: var(--primary-color);
    padding: .5rem;
}

.pages-conteiner-repos-text {
    padding: .5rem;
    color: var(--secundary-color);
}

.pages-conteiner-repos-ul {
    display: inline;
    padding: .5rem;
}

.pages-conteiner-repos-ul-item {
    display:inline-block;
    padding: 1rem;
}

.pages-conteiner-repos-ul-item:hover {
    padding: .3rem 1rem .3rem 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
}

.pages-conteiner-ul-item li h2 {
    color: rgb(241, 189, 15);
}


.pages-conteiner {
    padding: 1rem;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pages-conteiner-h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
}

.pages-conteiner-text {
    color: var(--secundary-color);
    padding: .5rem;
}

.pages-conteiner-ul {
    display: inline;
    padding: .5rem;
}

.pages-conteiner-ul-item {
    display:inline-block;
    padding: 1rem;
}

.pages-conteiner-ul-item:hover {
    padding: .3rem 1rem .3rem 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.bots {
    width: 355px;
    justify-content: center;
    align-self: center;
    margin 10px;
}

.pages-conteiner-ul-item h2 {
    color: var(--primary-color);
}

.production-conteiner {
    padding: 1rem;
    width: 380px;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

/*.production-conteiner-audiovisual {
    
}*/

.production-conteiner-audiovisual-h3 {
    color: var(--primary-color);
    font-size: 2.5rem;
}

.production-conteiner-audiovisual-text {
    color: var(--secundary-color);
    padding: .5rem;
}

/*.production-conteiner-audiovisual-graphic {

}*/

.redes-conteiner {
    padding: 1.5rem;
    width:400px%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.redes-conteiner-h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
}

.redes-conteiner-text {
    color: var(--secundary-color);
    padding: .5rem;
}

.redes-conteiner-ul {
    display: inline-block;
    padding: .5rem;
}

.redes .redes-conteiner .redes-conteiner-ul .contenedor a img {
    width: 45px;
    height: 45px;
    padding: 10px;
}

.contenedor {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



.footer-conteiner {
    padding: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-conteiner-ul {
    display: inline;
    padding: .5rem;
}

.footer-conteiner-ul-item {
    display: inline-block;
    padding: 1rem;
}

.footer-conteiner-ul-item:hover {
    padding: .3rem 1rem .3rem 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.5rem;
}

/*tarjeta de presentación*/

.card-container {   
    width: 300px;
    height: 480px;
    background: rgb(241, 189, 15);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card-container p:nth-child(3) {
    font-size: 1.2rem;
}

.card-container img {
    width: 100%;
    object-fit: contain;
}

.production-conteiner-audiovisual-graphic {
    justify-content: center;
    align-content: center;
}

.production-conteiner-audiovisual-graphic img {
    width: 350;
    height: 350px;
    margin-top: 10px;
    border-radius: 24px;
}



#img-description, #img-description-en {
    margin: 5px;
    padding: 5px;
    color: var(--secundary-color);
}


main .production .production-conteiner .carousel {
    overflow: visible;
    margin: .2rem;
    padding: 1rem;
    position: relative;
}


main .production .production-conteiner .carousel .carousel__container .carousel__item {
    background-color: gainsboro;
    width: 35rem;
    height: 35rem;
    border: 1px solid gainsboro;
    border-radius: 20px;
    overflow: visible;
    display: inline-block;
    cursor: pointer;
    transition: 650ms all;
    transform-origin: center;
    margin-right: 100px;
}

main .production .production-conteiner .carousel .carousel__container .carousel__item img {
    width: 350;
    height: 350px;
    border-radius: 20px;
}