@media (min-width: 768px) {
   .main {
       display: flex;
       flex-wrap: wrap;
   }

    .about {
       width: 100%;
   }

   .pages {
       width: 100%;
   }

   .pages .pages-conteiner {
    
   }
   
   .production {
       width: 100%;
   }

   .redes {
       width: 100%;
   }
}