@media (min-width: 768px) {
   .about-conteiner {
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
   }

   .pages-conteiner {
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
   }

   .production-conteiner {
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
   }

   .redes-conteiner {
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
   }
   
}