@media (min-width: 768px) {
html {
   width: 100vw;
   margin-left: 0;
}

   .about-conteiner {
      max-width: 400px;
      margin-right: auto;
      margin-left: auto;
   }

   .header-conteiner-h2 {
      font-size: 7rem;
      color: var(--primary-color);
   }

   .pages-conteiner {
      max-width: 400px;
      margin-right: auto;
      margin-left: auto;
   }

   .production-conteiner {
      max-width: 400px;
      margin-right: 10px;
      margin-left: 10px;
   }

   main .production .production-conteiner .carousel .carousel__container .carousel__item {
      margin-right: 150px;
  }

   .redes-conteiner {
      width: 380px;
      margin-right: 0;
      margin-left: 0;
   }
   
}